{% extends "base.html" %}

{% block main_content %}

<h1>Add Song</h1>

<form method="POST" action="{{url_for('addSongs')}}">

    <fieldset>
    <legend>Add to Coda Database</legend>
    <table>
    <tr><td><label for="artist-name">Artist Name (Required):</label></td>
        <td><input type="text" name="artist-name" id="artist-name" required></td></tr>
    <tr><td><label for="album-name">Album Title (Required):</label></td>
        <td><input type="text" name="album-name" id="album-name" required></td></tr>
    <tr><td><label for="song">Song Title(required):</label></td>
        <td><input type="text" name="song-name" id="song-name" required></td></tr>
    <tr><td><label for="genre">Genre:</label></td>
        <td><input type="text" name="genre" id="genre"></td></tr>
    <tr><td><label for="year">Release Year:</label></td>
        <td><input type="text" name="year" id="year"></td></tr>
    </table>
    </fieldset>

    <br> <input class = 'create' type='submit' value='Add to Database'>

</form>

{% endblock %}
