<!-- Author: Audrea Huang
     Version: Fall T1 2020
     Template for describing information about an artist.
     Lists the artist name and all of their albums. -->

{% extends "base.html" %} 

{% block main_content %}

<h1>{{artist.artist_name}}</h1>

<h3>Albums:</h3>
{% for album in albumList %}

<li>
   <a href= "{{ url_for('album', aid = album.album_id) }}">{{ album.album_title }} 
      {% if album.release_year != None %}
         {% if album.release_year|length > 0 %}
            ({{ album.release_year }})
         {% endif %}
      {% endif %}
   </a> 
</li>

{% endfor %}

{% endblock %}