<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <!-- {% block head_stuff %} {% endblock %} -->
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
 <div class="topnav">
    <ul>
      <li><a href = "{{ url_for('index') }}">Explore Page</a></li>
      <form class="search" method="GET" action= "/query/">
        <p><label>Search: <input type="text" name="searchbar"></label>
        <input type="submit" value="search"></p>
      </form>
    </ul>
  </div>

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

</body>
</html>
