<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    {% block head_style %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
              

 <div class="topnav">
    <ul>
      <li><a href = "{{ url_for('explore') }}">Explore</a></li>

      <li><a href = "{{ url_for('addSongs') }}">Add Song</a></li>
      
      <li><form class="search" method="GET" action= "{{ url_for('query') }}">
        <p><label>Search: <input type="text" name="searchbar"></label>
        <input type="submit" value="search"></p>
      </form></li>

      <li>
        
        {% if session.CAS_USERNAME %}

          <form method="GET" action="{{url_for('cas.logout')}}">
            <button class="button">logout {{ session.CAS_USERNAME }}</button>
          </form>
          
        {% else %}
        
          <form method="GET" action="{{url_for('cas.login')}}">
            <button>login</button>
          </form>
        
        {% endif %} 
        </li>
    </ul>
  </div>

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

</body>
</html>
