{% extends "base.html" %}

{% block head_style %}
<style>
    .genreType{
        color:rgb(100, 132, 154);
    }

    .genreSongList{
        list-style-type: none;
        padding: 0.5em; 
        margin-left: 0.5em; 
        margin-top: 0;
    }

    .genreSongListElms{
        padding: 0 0 0.7em;
    }

    th {
        text-align: left;
        font-weight: normal;
        color: rgb(143, 147, 143);
    }

    tr {
        border-collapse:collapse;
        border-bottom: 1px solid rgb(74, 75, 74, 50);
    }

    td {
        color: rgb(224, 226, 224);
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
</style>
{% endblock %}

{% block main_content %}
<h1 style='color:white'>{{ genre }}</h1>

<h3 class='genreType'> Playlists </h3>
<table style='width:50%'>
{% for i in range(playlists | length) %}
    <!-- start a new row for every three elements -->
    {% if i % 3 == 0 %}
        <tr>
    {% endif %}

    <td>
        <a href="{{ url_for('playlistPage', pid=playlists[i].playlist_id) }}"
        style='text-decoration:none'>
            {{ playlists[i]['playlist_name'] }} 
        </a>
    </td>

    <!-- end the row -->
    {% if i % 3 == 2 %}
        </tr>
    {% endif %}
   

{% endfor %}
</table>
<br><br>

<h3 class="genreType"> Songs </h3>
<table class="songTable" style="width:100%; border-collapse: collapse;">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
    {% for song in songs %}
        <tr>
        <td>
            <a href="{{url_for('song', sid = song.song_id)}}"
                style='text-decoration:none'>
                
                    {{ song['song_title'] }}
            </a>
        </td>
        <td>
            <a href="{{url_for('artist', aid = song.artist_id)}}"
                style='text-decoration:none'>
                    {{ song['artist_name'] }}
            </a>    
        </td>
        <td>
            <a href="{{url_for('album', aid = song.album_id)}}"
                style='text-decoration:none'>
                    {{ song['album_title'] }}
            </a> 
        </td>

        </tr>
    {% endfor %}

</table>

{% endblock %}
