<!-- Author: Audrea Huang
     Version: Fall T1 2020
     Explore page listing genres -->

{% extends "base.html" %}

{% block main_content %}
<h1>welcome to coda</h1>
<h3 class="subheading">Explore content</h3>

<table style='width:75%'>
{% for i in range(genres | length) %}
    <!-- start a new row for every three elements -->
    {% if i % 3 == 0 %}
        <tr>
    {% endif %}

    <td>
        <a href="{{url_for('genre', genreName = genres[i].lower())}}"
            style='text-decoration:none'>
            <span class='genre'>{{ genres[i] }}</span>
        </a>
    </td>

    <!-- end the row -->
    {% if i % 3 == 2 %}
        </tr>
    {% endif %}
   

{% endfor %}
</table>

{% endblock %}
