{% extends "base.html" %}

{% block main_content %}      
    <h2>{{playlistInfo.playlist_name}}</h2>
    <p>Genre: {{playlistInfo.playlist_genre}}</p>
    <p>Made by: {{playlistInfo.user_name}}</p>
 

    <div> Songs in this playlist:
        <ul>
            {% for song in songs %} 
            <li>
                <a href="{{url_for('song', sid = song.song_id)}}"">{{song.song_title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        Edit this playlist:
    </div>

{% endblock %}