<!-- Author: Audrea Huang - Fall T1 2020 -->
<!-- Template for describing information about a song. 
Displays the title, artist, release year, which album it appears on,
and who added the song to the database. -->
{% extends "base.html" %}

{% block main_content %}

<H1 class='song'> {{song.song_title}} </H1>
<p>Title: {{song.song_title}}</p>
<p>Artist: {{song.artist_name}}</p> 
<p>Appears on: {{song.album_title}}</p>
<p>Release Year: {{song.release_year}}</p>
<p>Added by: {{song.user_name}}</p>


{% endblock %}
