<!-- Author: Audrea Huang, Danya Gao - Fall T1 2020 -->
<!-- Template for describing information about a song. 
Displays the title, artist, release year, which album it appears on,
and who added the song to the database. -->
{% extends "base.html" %}

{% block main_content %}

<H1 class='song'> {{song.song_title}} </H1>
<p>Title: {{song.song_title}}</p>
<p>Artist: <a href="{{url_for('artist', aid=song.artist_id)}}">
    {{song.artist_name}}</a></p> 

{% if song.genre != None %}
    {% if song.genre|length > 0 %}
        <p>Genre: {{song.genre}}</p> 
    {% endif %}
{% endif %}

<p>Appears on: <a href="{{url_for('album', aid=song.album_id)}}">
    {{song.album_title}}</a></p>

{% if song.release_year != None %}
    {% if song.release_year|length > 0 %}
        <p>Release Year: {{song.release_year}}</p>
    {% endif %}
{% endif %}

<p>Added by: <a href="{{url_for('user', uid=song.user_id)}}">
    {{song.display_name}}</a></p>

<form method="POST" action="{{url_for('song', sid = sid)}}">

        {% if not playlists %}
            <p>Create a playlist here</p>
                <button class= "create" name = 'create-playlist' value = True>Create Playlist</button>
        {% else %}
            <p>This song already exists in these playlists of yours:</p>
            {% for playlist in pAlreadyIn %}
                <li>
                    <p><a href="{{url_for('playlistPage', pid=playlist.playlist_id)}}">{{playlist.playlist_name}}</a></p>
                </li>
            {% endfor %}
            <p>Add this song to a playlist below:</p> 
            {% for playlist in pNotIn %}
                <li>
                    <button class = "playlist" type="submit" name="playlist-id" value="{{playlist.playlist_id}}">
                    {{playlist.playlist_name}}
                    </button>
                </li>
            {% endfor %}
            <p>Create another playlist here</p>
                <button class= "create" name = 'create-playlist' value = True>Create Playlist</button>
        {% endif %}

</form>


{% endblock %}
