<!-- Author: Audrea Huang, Danya Gao - Fall T1 2020 -->
<!-- Template for describing information about a song. 
Displays the title, artist, release year, which album it appears on,
and who added the song to the database. -->
{% extends "base.html" %}

{% block main_content %}

<H1 class='song'> {{song.song_title}} </H1>
<p>Title: {{song.song_title}}</p>
<p>Artist: <a href="{{url_for('artist', aid=song.artist_id)}}">
    {{song.artist_name}}</a></p> 
<p>Genre: {{song.genre}}</p> 
<p>Appears on: <a href="{{url_for('album', aid=song.album_id)}}">
    {{song.album_title}}</a></p>
<p>Release Year: {{song.release_year}}</p>
<p>Added by: <a href="{{url_for('user', uid=song.user_id)}}">
    {{song.user_name}}</a></p>

<form method="POST" action="{{url_for('song', sid = sid)}}">

        {% if not playlists %}
            <p>You have not yet created a playlist, click here to create one</p>
                <button name = 'create-playlist' value = True>Create Playlist</button>
        {% else %}
            <p>Add this song to a playlist below:</p> 
            {% for playlist in playlists %}
                <li>
                    <button class = "button" type="submit" name="playlist-id" value="{{playlist.playlist_id}}">
                    {{playlist.playlist_name}}
                    </button>
                </li>
            {% endfor %}
        {% endif %}

</form>


{% endblock %}
