{% extends "base.html" %} 

{% block main_content %}
<div class="displayUser">
    <div class = "displayName">
        <h1>{{user.display_name}}</h1>
    </div>
    <div class = "editUser">
        {% if session.CAS_USERNAME == user.username %}
            <button type="button" class = "button" onclick="window.location.href= 
                 '{{ url_for('editUsername', uid = session.uid) }}';">Edit User</button>
        {% else %}
                <button type="button" class="button" id='follow-button' 
                data-friend={{user.user_id}} data-current={{session.uid}}>Follow</button>
        {% endif %} 
    </div>
</div>
<br>

<div class="tab">
    <button class="tablinks" onclick="displayTab(event, 'Friends')" 
        id = "default">Friends</button>
    <button class="tablinks" onclick="displayTab(event, 'Playlists')">
        Playlists</button>
</div>

<div id="Friends" class="tabcontent">
<ol id = 'friendsList'>
    {% if friendsList|length %}
        {% for friend in friendsList %}
            <li>
                <a href= "{{ url_for('user', uid = friend.user_id) }}">
                    {{friend.display_name}}</a>
            </li>
        {% endfor %}
    {% else %}
        <p>{{user.display_name}} is not following anyone</p>
    {% endif %}
</ol>

</div>

<div id="Playlists" class="tabcontent">

<ol>
    {% if playlists|length %}
        {% for playlist in playlists %}
            <li>
                <a href= "{{ url_for('playlistPage', 
                    pid = playlist.playlist_id) }}">
                    {{playlist.playlist_name}}</a>
            </li>
        {% endfor %}
    {% else %}
        <p>{{user.display_name}} has no available playlists</p>
    {% endif %}

</ol> 
    <br>
    {% if session.CAS_USERNAME == user.username %}
        <button type="button" class="button" onclick="window.location.href= 
            '{{ url_for('createPlaylist') }}';">Create New Playlist</button>
    {% endif %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script>
    // indicating the current tab (either friends or playlists) on a user's page
    function displayTab(evt, tab) {
        var tabcontent;
        var tablinks;
        var index;
        tabcontent = document.getElementsByClassName("tabcontent");
        tablinks = document.getElementsByClassName("tablinks");
        for (index = 0; index < tabcontent.length; index++) {
            tabcontent[index].style.display = "none";
        }
        for (index = 0; index < tablinks.length; index++) {
            tablinks[index].className = 
                tablinks[index].className.replace(" active", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " active";       
    }

    document.getElementById("default").click();

    $('#follow-button').on('click', function(evt) {
        var friend = $(this).attr('data-friend');
        var currentUser = $(this).attr('data-current');
        console.log("current user: " + currentUser)
        var url = '/user/' + friend;
        $.post(url, {'friend': friend, 'currentUser': currentUser}, updateFriends);
    });

    //helper function to update user page with friends
    function updateFriends(resp) {
        $('#follow-button').remove();
    }
</script>
{% endblock %}